<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>

    <% include ./index.html %>
    <% var abc = data.investData; %>
    <% var ab = JSON.parse(data.investData) %>
    <%= console.log(ab[0]) %>
    <%= console.log(ab[0].investor) %>
    <% for(i=0; i<ab.length; i++) { %>
    <form method="post" action="/build_item">

        투자자 명 : <%= ab[i].investor %>
        <% for(j=0; j<data.loanData.length; j++) { %>

        <% } %>
        <input type="submit" value="확인">
    </form>
    <% } %>
</body>

</html>