<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <%- include index.html %>
    <h2>채권 등록</h2>
    <form method="post" action="/show_item">
    <% for(i=0; i<data.bonds.length; i++) { %>
        <p>
        <label>채권 명 : <%= data.bonds[i].item %> 채권 가격 : <%= data.bonds[i].val %> 채권 분류 : <%= data.bonds[i].category %> 채권자 : <%= data.bonds[i].creditor %>
        <input type="checkbox" name="item" value="<%= data.bonds[i].id %>">

        </p>
    <% } %>
        <input type="submit" value="제출">

</form>
</body>

</html>