<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <p>
        <a href="/item_list">상품</a>
    </p>
    <p>
        <a href="/selected_item">상품 선택</a>
    </p>
    <p>
        <% if(data.loggined == false) { %>
        <a href="/login">로그인</a>
        <% } else if (data.loggined == true) { %>
        <a href="/logout">로그아웃</a>
        <% } %>
    </p>
    <p>
        <a href="/register">회원가입</a>
    </p>
</body>

</html>