<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <p>

        <% if(!data.userData) { %>
        <a href="/login">로그인</a>
        <a href="/register">회원가입</a>
        <% } else { %>
        <% if (data.userData.dnum === 1) { %>
        <p>
            <a href="/item_proposal">채권 구매 신청</a>
        </p>
        <p>
            <a href="/item_sell_to_investor">채권 판매</a>
        </p>
        <%} else if (data.userData.dnum === 2) { %>
        <p>
            <a href="/selected_item">채권 조회</a>
        </p>
        <p>
            <a href="/confirm_complete">채권 구매</a>
        </p>
        <% } else if (data.userData.dnum === 0) { %>
        <p>
            <a href="/sell_confirm">판매 허가</a>
        </p>
        <p>
            <a href="/item_enroll">채권 등록</a>
        </p>
        <% } %>
        <a href="/logout">로그아웃</a>
        <% } %>
        <p>
            <a href="../">뒤로</a>
        </p>
</body>

</html>