<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>

    <% include ./index.html %>
    
    <% var investing = data.investData %>
    <% var loaning = data.loanData %>

    <%= console.log(loaning) %>
    <%= console.log(investing) %>
    <% for(i=0; i<investing.length; i++) { %>
    <form method="post" action="/build_item">
        <input type="hidden" name="investedData" value="<%= JSON.stringify(investing[i]) %>">
        투자자 명 : <%= investing[i].investor %>
        투자 금액 : <%= investing[i].proposal %>
        <% for(j=0; j<loaning.length; j++) { %>
        <% if(investing[i].investor == loaning[j].investor && investing[i].proposal == loaning[j].proposal) { %>
        <input type="hidden" name="loanedData" value="<%= JSON.stringify(loaning[j]) %>">
        <p>
            투자 상품 : <%= loaning[j].item %>
            투자 금액 : <%= loaning[j].val %>
            상품 분류 : <%= loaning[j].category %>
        </p>
        <% } %>
        <% } %>
        <input type="submit" value="확인">
    </form>
    <% } %>
</body>

</html>