<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <%- include index.html %>
    <h3>채권 선택</h3>
    <form method="post" action="/sell_item">
        <% total_value = 0; %>
        <% for(i=0; i < data.bonds.length; i++) { %>
        <p>
            채권 명 : <%= data.bonds[i].item %> 채권 분류 : <%= data.bonds[i].category %> 채권 가격 : <%= data.bonds[i].val %>
            <input type="radio" name="item" value="<%= data.bonds[i].id %>">

            <% } %>
            <p>
                가격 제안 : <input type="text" name="proposal" id="proposal">
            </p>
        </p>
        <p>
            <input type="submit" value="제출">
        </p>
    </form>
</body>

</html>