<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
        <%= console.log(data.item_data[0].item) %>
    <%- include index.html %>
    <h3>선택된 채권</h3>
    <form method="post" action="/enroll_item">
        <% total_value = 0; %>
        <% for(i=0; i<data.item_data.length; i++) { %>
                <%= console.log(data.item_data[i].item) %>
        <p>
            채권 명 : <%= data.item_data[i].item %> 채권 분류 : <%= data.item_data[i].category %>
            <% var total_value = total_value + data.item_data[i].val; %>

            <% } %>
        </p>

        채권 총액 : <%= total_value %>
        <input type="hidden" name="selected_item_list" value="<%= JSON.stringify(data.item_data) %>">
        <input type="hidden" name="total_item_value" value="<%= total_value %>">
        <p>
            가격 제안 : <input type="text" name="proposal" id="proposal">
        </p>
        <p>
            <input type="submit" value="제출">
        </p>
    </form>
</body>

</html>