<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <form method="post" action="/login_process">
        <p>
            ID
            <input type="text" name="userID" placeholder="login ID">
        </p>
        <p>
            PW
            <input type="password" name="userPW" placeholder="login PW">
        </p>
        <p>
            <button type="submit">submit</button>
        </p>
    </form>
    
    
    <form method="post" action="/access">
    <button type="submit" id="userCom" name="userCom" >Company</button>
    <button type="submit" id="userNor" name="userNor" >Normal</button>
    </form>
</body>
</html>