<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <form method="post" action="/select_process">
        <p>
            금융 상품 A :<label><input type="checkbox" name="item" value="a">a</label>
        </p>
        <p>
            금융 상품 B :<label><input type="checkbox" name="item" value="b">b</label>
        </p>
        <p>
            금융 상품 C :<label><input type="checkbox" name="item" value="c">c</label>
        </p>
        <p>
            상품 금액 : <input type="text" name="min" id="min" placeholder="Min"> ~ <input type="text" name="max" id="max" placeholder="Max">
        </p>
        <p>
            <input type="submit" value="제출">
        </p>
    </form>
</body>

</html>