<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <%- include ./index.html %>

    <form method="post" action="/build_item">
        for(i=0; i<data.item_investor.length; i++) {
            for(j=0; data.item_data.length; j++) {
                if(data.item_investor[i].investor === data.item_data[j].investor) {
                    
                }
    
        }

    }



        <% for(i=0; i<data.item_data.length; i++) { %>
                <p>
                        투자자 명 : <% data.item_investor[i] %>
                        채권 명 : <%= data.item_data[i].item %>
                        채권 감정가 : <%= data.item_data[i].val %>
                        채권 분류 : <%= data.item_data[i].category %>
                    </p>
        
        <%  } %>
        <p>
            <label><input type="checkbox" name="item" value="<%= data %>">선택</label>
        </p>
        <input type="submit" value="확인">
    </form>
</body>

</html>